# Автоматически генерируемые файлы
components_utf8.csv
components_sorted.csv

# Временные файлы
*.tmp
*.bak

# Системные файлы
.DS_Store
Thumbs.db

# Файлы IDE
.idea/
.vscode/

# Директории и файлы в них
/request_commits